@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
header {
  width: 100%;
  height: 100px;
  padding: 22px 100px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
}
.banner-container {
  width: 100%;
  height: 77vh;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-btn {
  padding: 13px 50px;
  background: #ff5403;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.nav-list,
a {
  display: flex;
  column-gap: 50px;
  color: #696969;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #696969;
}
.Header-nav {
  display: flex;
  align-items: center;
}
.banner-text h1 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 6.72px;
  margin-bottom: 5px;
}
.banner-text p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 50px;
}
.banner-text {
  text-align: center;
}
.text-btn {
  width: 250px;
  height: 66px;
  padding: 13px 50px;
  background: #ff5403;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
h2 {
  margin-top: 282px;
  color: #041562;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
h3 {
  margin-top: 20px;
  color: #626262;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
}
.img-title {
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 30px;
  top: 30px;
}
.Top-Places {
  width: 1312px;
  margin: auto;
}
.image-row-1,
.image-row-2 {
  display: flex;
  position: relative;
  column-gap: 50px;
}

.image-row-2 {
  margin-top: 50px;
}

h3 {
  margin-bottom: 75px;
}
.Discover {
  padding: 13px 50px;
  background: #ff5403;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.Discover-btn {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.text-hotel {
  color: #041562;
  margin-top: 50px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.best {
  color: #626262;
  margin-top: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  margin-bottom: 75px;
}
.ap {
  display: flex;
  width: 337px;
  height: 249px;
  padding: 11.539px 37.868px 11.622px 36.654px;
  justify-content: center;
  align-items: center;
}

.Travel {
  font-size: 36px;
  display: flex;
  width: 337px;
  color: #fff;
  padding: 11.539px 37.868px 11.622px 36.654px;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.card,
.card2,
.card3 {
  width: 325px;
  margin-top: 40px;
}
.card img {
  width: 100%;
  height: auto;
}
.card3 img {
  width: 100%;
  height: auto;
}
.review {
  padding-top: 5px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.36px;
}
.starr {
  width: 100px;
  display: flex;
  margin-bottom: 10px;
}
.card1 {
  display: flex;
  justify-content: flex-start;
}
.jakarta {
  margin-bottom: 10px;
  color: #626262;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  letter-spacing: 0.36px;
}
.card2 img {
  width: 100%;
  height: auto;
}
.card1 {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.price {
  color: #da1212;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 0.36px;
}
.from {
  color: #020202;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 170%; /* 30.6px */
  letter-spacing: 0.36px;
}
.Footer {
  background-color: #19224d;
  display: flex;
  padding: 108px 100px;
  justify-content: space-between;
  align-items: center;
}
.Back {
  margin-top: 200px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 65px;
  padding: 21px 661px;
  background: #000b3e;
  color: #c4c4c4;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.discoveres {
  color: #fff;
  height: 266px;
  width: 314px;
}
.Con {
  color: #fff;
  font-size: larger;
}
.sec {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}
.Con {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 30px;
}
.Contact {
  width: 344px;
  height: 266px;
}
.Shipley {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.number {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.travelbuddy {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.socmedia {
  display: flex;
  margin-bottom: 23px;
  color: #ff5403;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.9px;
}
.gar li {
  margin-top: 15px;
}
.gar2 li {
  margin-top: 10px;
}
.aperes {
  cursor: pointer;
}
